// colors
$primary: #21FA90
$secondary: #0A2E36

// fonts
$display-font: 'Muli', sans-serif
$normal-font: 'Inter', sans-serif
$code-font: 'IMB Plex Mono', monospace

// breakpoints
$bp-mobile: 425px
$bp-tablet: 768px
$bp-laptop: 1024px
$bp-desktop: 1440px

// shadows
$card-shadow-light: 0px 4px 34px -20px rgba(0, 0, 0, 0.3)
$card-shadow-dark: 0px 4px 34px -15px rgba(0, 0, 0, 0.3)

// misc
$code-background-color: #000000