@import ../_variables

body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: $normal-font
    font-weight: 500
    background-color: white

\::selection
    background-color: #d2efff

\::-webkit-scrollbar
    display: none